body{
	background: url(fondo.jpg);
	margin:0px;
}
header{
	position:relative;
}
#menu1{
	color:#66c2ff;
	background:#004080;
}
#menu2{
	color:#66c2ff;
	background:#001a33;
}
header>img{
	position:absolute;
	top:10px;
	right:20px;
	border:#0066cc;
}
#principal{
	position:absolute;
	top:75px;
	left:50px;
	right:200px;
}

