body{
	position:absolute;
	background: url(fondo.jpg);
	margin:0px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
header{
	position:relative;
	margin-top:0px;
}
#menu1{
	color:#66c2ff;
	background:#004080;
	padding-top:10px;
	padding-bottom:10px;
	opacity:0.5;
	margin:0px;
}

#menu2{
	color:#66c2ff;
	background:#001a33;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:40px;
	opacity:0.5;
	margin:0px;
}
header>img{
	position:absolute;
	top:10px;
	right:20px;
	border:#0066cc;
}
#principal{
	border:dotted 1px red;
	position:absolute;
	top:75px;
	bottom:20px;
	left:50px;
	right:350px;
}
.ventana{
	position:absolute;
	opacity:0.5;
	background:#00264d;
}
#menu1>h1{
	margin:15px;
	font-size:16px;
	display:inline;
}
#menu2>h2{
	margin:15px;
	font-size:12px;
	display:inline;
}
#principal>h1{
	font-size:19px;
	color:white;
}
#buj{
	display:inline;
}
h3{
	display:inline;
}
.der{
	float:right;
}



	
